/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@font-face {
  font-family: 'KG Second Chances Sketch';
  src: url("./fonts/KgSecondChancesSketch-KpAp.ttf") format("truetype");
}

@font-face {
  font-family: 'KG Second Chances Solid';
  src: url("./fonts/KgSecondChancesSolid-2B6K.ttf") format("truetype");
}

.welcome-screen {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.login-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  background-image: linear-gradient(rgb(12, 22, 64), rgb(33, 47, 68));
}

.login-bar-logo {
  width: 60%;
  margin-bottom: 5%;
}

.landing-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-image: url('./images/paper_background.jpg');
  margin: 4px;
  border: 4px dashed rgb(33, 47, 68);
}

.landing-bar-title {
  text-align: center;
  font-family: 'KG Second Chances Solid';
  margin-bottom: 2%;
}

.landing-bar-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.landing-bar-card {
  display: flex;
  width: 67.5%;
  background-color: white;
}

.landing-bar-animation {
  height: 15%;
}

.landing-bar-gif {
  position: fixed;
  height: 15%;
  animation: moving-gif 5s linear infinite;
}

@keyframes moving-gif {
  0% {
    right: 50%;
  }
  25% {
    right: 65%
  }
  50% {
    right: 80%;
  }
  75% {
    right: 65%
  }
  100% {
    right: 50%;
  }
}

.registration-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgb(12, 22, 64), rgb(33, 47, 68));
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  min-height: 85vh;
  background-image: url('./images/paper_background.jpg');
  border-radius: 3%;
}

.registration-screen-logo {
  width: 62.5%;
  margin-bottom: 4%;
}

.registration-fields {
  display: inline-block;
  width: 55%;
  margin-bottom: 2%;
}

.flashcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2.5px solid rgb(33, 47, 68);
  border-radius: 5px;
  padding: 2%;
}

.flashcard-video {
  margin-bottom: 2%;
}

.flashcard-header {
  font-family: 'KG Second Chances Sketch';
}

.flashcard-description {
  text-align: center;
}

